/* PAGE */
.register-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

/* CONTAINER */
.register-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

/* LEFT SIDE */
.register-left {
  max-width: 600px;
}

.register-left h1 {
  font-size: 40px;
  font-weight: 600;
  color: #111827;
  margin-bottom: 12px;
}

.subtitle {
  font-size: 22px;
  color: #6b7280;
  margin-bottom: 40px;
  font-weight: 500;
}

/* FORM */
.register-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.register-form input {
  height: 56px;
  padding: 0 20px;
  border-radius: 16px;
  border: 1px solid #e5e7eb;
  font-size: 15px;
  outline: none;
  color: black;
  font-family: "Roboto";
}

.register-form input::placeholder {
  color: #030303;
  font-weight: 600;
}

/* BUTTON */
.register-form button {
  height: 56px;
  border-radius: 16px;
  border: none;
  background-color: #3a3f8c;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.register-form button:hover {
  background-color: #2f3475;
}

/* LOGIN TEXT */
.login-text {
  margin-top: 32px;
  text-align: center;
  font-size: 18px;
  color: #111827;
}

.login-text a {
  color: #e11d48;
  font-weight: 600;
  text-decoration: none;
}

/* RIGHT SIDE */
.register-right {
  display: flex;
  justify-content: flex-end;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .register-container {
    justify-content: center;
  }

  .register-right {
    display: none;
  }
}
