.feature-icon {
  color: white;
}
.icon-card {
  background-color: #e11d48;
  width: 68px;
  height: 68px;

  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-card {
  width: 403px;

  display: flex;

  padding-top: 40px;
  padding-right: 24px;
  padding-bottom: 40px;
  padding-left: 24px;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  text-align: center;

  border-radius: 12px;
  border: 4px solid #e41f3a;
}
.feature-section {
  text-align: center;
}
.feature-card-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 60px;
}
.feature-text-card {
  width: 355px;

  gap: 10px;
}
