.right-up {
  display: flex;
  justify-content: space-between;
}
.footer-list {
  display: flex;
  gap: 30px;
  list-style-type: none;
}
.right {
  display: flex;
  flex-direction: column;
  width: 1028px;
}
hr {
  color: white;
  width: 1024px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  background-color: #111538;
  color: white;
  font-size: 14px;
  font-family: "Poppins";
}
.left {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  height: 200px;
}
